# adapted from https://github.com/fchollet/keras/blob/master/.travis.yml
sudo: required
dist: trusty
language: python
matrix:
    include:
        - python: 2.7
          env:
            - KERAS_BACKEND=tensorflow
            - TENSORFLOW_V=1.0.1
        - python: 2.7
          env:
            - KERAS_BACKEND=tensorflow
            - TENSORFLOW_V=1.1.0
        - python: 3.5
          env:
            - KERAS_BACKEND=tensorflow
            - TENSORFLOW_V=1.0.1
        - python: 3.5
          env:
            - KERAS_BACKEND=tensorflow
            - TENSORFLOW_V=1.1.0
        - python: 2.7
          env:
            - KERAS_BACKEND=theano
            - TENSORFLOW_V=1.1.0
        - python: 3.5
          env:
            - KERAS_BACKEND=theano
            - TENSORFLOW_V=1.1.0
install:
  # code below is taken from http://conda.pydata.org/docs/travis.html
  # We do this conditionally because it saves us some downloading if the
  # version is the same.
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a

  - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION numpy scipy pyqt=4.11 matplotlib pandas h5py six mkl-service
  - source activate test-environment
  # install TensorFlow
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" && "$TENSORFLOW_V" == "1.0.1" ]]; then
      pip install https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-1.0.1-cp27-none-linux_x86_64.whl;
    elif [[ "$TRAVIS_PYTHON_VERSION" == "2.7" && "$TENSORFLOW_V" == "1.1.0" ]]; then
      pip install https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-1.1.0-cp27-none-linux_x86_64.whl;
    elif [[ "$TRAVIS_PYTHON_VERSION" == "3.5" && "$TENSORFLOW_V" == "1.0.1" ]]; then
      pip install https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-1.0.1-cp35-cp35m-linux_x86_64.whl;
    elif [[ "$TRAVIS_PYTHON_VERSION" == "3.5" && "$TENSORFLOW_V" == "1.1.0" ]]; then
      pip install https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-1.1.0-cp35-cp35m-linux_x86_64.whl;
    fi
  - if [[ "$KERAS_BACKEND" == "theano" ]]; then
      pip install theano;
    fi
  - pip install keras
  - python setup.py install

# command to run tests
script:
  # run keras backend init to initialize backend config
  - python -c "import keras.backend"
  # create dataset directory to avoid concurrent directory creation at runtime
  - mkdir ~/.keras/datasets
  # set up keras backend
  - sed -i -e 's/"backend":[[:space:]]*"[^"]*/"backend":\ "'$KERAS_BACKEND'/g' ~/.keras/keras.json;
  - echo -e "Running tests with the following config:\n$(cat ~/.keras/keras.json)"
  - nosetests -v --nologcapture cleverhans
  - if [[ "$KERAS_BACKEND" == "tensorflow" ]]; then
    nosetests --nologcapture -v tests_tf/;
    else
      nosetests -v tests_th/;
    fi
