name: PyTorch Tests

on:
  push:
    paths:
      - 'cleverhans/future/torch/**/*'

  pull_request:
    paths:
      - 'cleverhans/future/torch/**/*'

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e "."
        pip install -r requirements/requirements.txt
        pip install -r requirements/requirements-pytorch.txt
        pip install -r requirements/requirements-dev.txt
    - name: Test with pytest
      run: |
        pytest cleverhans/future/torch/tests
